<!-- IFRAME CHAT -->
<!--if test="memberbox:|:$this->memberData['member_id']"-->
<div id="frame_chat" class="category_block block_wrap">
<h3 class="maintitle"><a class="toggle right" href="#" title="Свернуть Чат">Свернуть Чат</a> Чат</h3>
<div class="ipsBox table_wrap"><div class="ipsBox_container">
<iframe width="100%" height="200" frameborder="0" src="http://anakee.ru/chat/#room=moshforum&nick={$this->memberData['members_display_name']}"></iframe>
</div></div><br /></div>
<!--/if-->
