
/* MUC styling */

html, body
{
	font-size: 10pt;
	font-family: Sans, Arial, Georgia;
}

.statusindicator
{

}

.rosteritem.statusonline .statusindicator { color:#55ff55; }
.rosteritem.statusaway   .statusindicator { color:#ff9900; }
.rosteritem.statusxa     .statusindicator { color:#ff5555; }
.rosteritem.statusdnd    .statusindicator { color:#ff1111; }
.rosteritem.statuschat   .statusindicator { color:#ffff00; }

.muc-nick
{
}

.muc-join
{
	color:#30c030;
}
.muc-leave
{
	color:#c03030;
}

.muc-history
{
}

.muc-timestamp
{
}

#client
{
	position: relative;
	height: 100%;
	width: 100%;
}

#roster
{
	position: relative;
	float: right;
	padding: 0em 0em 0em 0.5em;
	top: 0;
	right: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	min-width: 7em;
	max-width: 8em;
	border:0px solid #C0C0C0;
}

#msglog
{
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0em 0em 0em 0em;
	height: 100%;
	border:0px solid #C0C0C0;
	border-right:1px solid #C0C0C0;
}

#msginput
{
	height: 25px;
	width: 100%;
	position: relative;
	border: 1px solid #C0C0C0;
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;*/
}

#msginput textarea
{
	height: 20px;
	width: 100%;
	border: 0px;
	position: relative;
	bottom: -4px;
	background: transparent;
}

#msgaction 
{
	height: 25px;
	width: 100%;
	position: relative;
	text-align: right;
}

#msgaction span.text
{
	position: relative;
	bottom: -4px;
	color: #606060;
	padding: 3px;
}

#msgaction span.button
{
	display:none;
	position: relative;
	bottom: -4px;
	color: #606060;
	border: 1px solid #C0C0C0;
	padding: 3px;
	margin: 0px 2px 0px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
